<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>676988341737-o9m6nse8865tr0bl9orkca4mtlvlhj4f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.676988341737-o9m6nse8865tr0bl9orkca4mtlvlhj4f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>676988341737-nejvarjc1bjhc2a9ouulle9mmjcnsq5v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCTlwYth_lwh1dwQ4kz-B_cSgaDlQa89WE</string>
	<key>GCM_SENDER_ID</key>
	<string>676988341737</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.radrec.app</string>
	<key>PROJECT_ID</key>
	<string>nuclear-app-cf4ef</string>
	<key>STORAGE_BUCKET</key>
	<string>nuclear-app-cf4ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:676988341737:ios:d221a48afa086fe43c8f78</string>
</dict>
</plist>